/**
 * The Basics
 */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  align-items: center;
  background-color: hsl(216, 33%, 97%);
  color: hsl(201, 79%, 46%);
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  height: 100%;
  justify-content: space-between;
  margin: 0;
}

/**
 * The Titlebar
 */

.titlebar {
  background: hsl(201, 79%, 46%);
  display: flex;
  justify-content: center;
  width: 100%;
}

.title {
  color: hsl(195, 97%, 75%);
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin: 1rem;
  margin-right: -0.2rem;
  text-transform: lowercase;
}

/**
 * The Main Event
 */

.stage {
  align-items: center;
  background: hsl(201, 79%, 46%);
  background-image: linear-gradient(to bottom, hsl(201, 79%, 46%), hsl(195, 100%, 85%));
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.instruction {
  align-items: center;
  color: hsl(216, 33%, 97%);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 50%;
  justify-content: center;
  letter-spacing: 0.2rem;
  max-width: 30rem;
  margin-left: 1rem;
  margin-right: 0.8rem;
  opacity: 0;
  padding: 1rem;
  text-align: center;
  text-transform: lowercase;
}

.note {
  font-size: 1rem;
  max-width: 20rem;
}

.animatron {
  /* The vars / custom properties get set in JS land */
  background: linear-gradient(to bottom, hsl(195, 100%, 95%), hsl(195, 100%, 85%));
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
  transform: translateZ(0);
  height: 10vw;
  width: 100%;
}

/**
 * The Controls
 */

.control-panel {
  background: linear-gradient(hsl(216, 33%, 97%), hsl(210, 16%, 82%));
  box-shadow:
    0 -28px 28px hsla(201, 79%, 46%, 0.25),
    0 -20px 10px hsla(201, 79%, 46%, 0.25);
  padding: 2rem 2rem 1rem;
  position: relative;
  width: 100%;
}

.control-panel_decoration {
  height: 2rem;
  left: 0;
  position: absolute;
  top: -2rem;
  width: 100%;
}

.controls {
  animation: fadeIn 1s 1s forwards;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  opacity: 0;
  padding: 0;
}

.control {
  align-items: center;
  background: hsl(197, 92%, 61%);
  border: none;
  border-radius: 100%;
  color: hsl(195, 100%, 95%);
  cursor: pointer;
  display: flex;
  font: inherit;
  height: 4rem;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  text-transform: lowercase;
  transition: background-color 0.5s;
  width: 4rem;
}

.control:hover {
  background: hsl(201, 79%, 46%);
}

.control:focus {
  background: hsl(201, 79%, 46%);
  outline: none; /* TODO: Outline when tabbing */
}

.control:active,
.control.is-active {
  background: hsl(204, 96%, 27%);
  cursor: wait;
}

.control[disabled] {
  background: hsl(211, 10%, 53%);
  cursor: not-allowed;
}

.control_text {
  line-height: 1.2;
  position: relative;
}

.control_text.no-descenders {
  margin-bottom: -1px;
}

.footnote {
  animation: fadeIn 1s 1s forwards;
  color: hsl(211, 13%, 65%);
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0;
  margin-top: 2rem;
  opacity: 0;
  text-align: center;
}

.footnote > a {
  border-bottom: 1px dotted;
  color: inherit;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  transition: color 0.3s;
}

.footnote > a:focus,
.footnote > a:hover {
  color: hsl(209, 20%, 25%);
  outline: none;
}

.twitter-icon {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 2px;
}

/**
 * Instruction animations
 */

 @keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes pause {
  from, to { opacity: 1; }
}

/**
 * Breathing animations
 */

@keyframes breatheIn {
  from {
    height: 10vw;
  }

  to {
    height: 50%;
    height: min(50vw, 50%);
  }
}

@keyframes holdIn {
  from, to {
    height: 50%;
    height: min(50vw, 50%);
  }
}

@keyframes breatheOut {
  from {
    height: 50%;
    height: min(50vw, 50%);
  }

  to {
    height: 10vw;
  }
}

@keyframes holdOut {
  from, to {
    height: 10vw;
  }
}
